video-overlay {
  @include transition( opacity 0.3s );
  opacity: 0;
  z-index: -20;
  position: absolute;
  width: 100%;
  height: 100%;
  position: fixed;
  #video-bg {
    width: 100%;
    height: 100%;
    background: $bg-dark;
    opacity: 0.9;
  }
  nav-btn {
    position: absolute;
    left: 100%;
    top: 0;
    @include transform( translate(-100%, 0) );
    margin: 1em 0 0 -1em;
  }
  #video-container {
    position: absolute;
    left: 50%;
    top: 50%;
    @include transform( translate(-50%, -50%) );
    width: 80%;
    height: 80%;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
  &.reveal {
    opacity: 1;
    z-index: 9001;
  }
}

#base {
  $header-height: 30em;

  header-bar {
    padding-top: 3em;
    position: absolute;
    width: 100%;
    left: 0;
    border-bottom: 0.15em solid $emphasis;
    height: $header-height;
    color: $bg-light;
    font-family: 'Novecento';
    .container {
      @include center-vert;
    }
    .single-title {
      text-align: center;
      h2 {
        color: $bg-light;
        font-size: 3em;
        letter-spacing: 0.1em;
      }
    }
    .post-title {
      text-align: center;
      h2 {
        font-size: 3em;
        letter-spacing: 0.1em;
      }
      h3 {
        font-family: 'Droid';
        &.author {
          font-size: 2em;
          font-style: italic;
          margin-top: 0.2em;
        }
      }
      h4.date {
        font-family: 'Droid';
        display: block;
        font-size: 1em;
        font-style: normal;
        margin-top: 1.5em;
      }
      btn-line {
        margin-top: 1em;
      }
    }
  }

  .content {
    margin-top: $header-height + 2em;
    padding-bottom: 2em;
  }

  .post-content {
    font-size: 1.125em;
    p {
      margin-bottom: 0.6em;
    }
    line-height: 1.5;
    ul {
      list-style: disc inside;
      margin: 0 0 0.6em 1em;
    }
    h3 {
      font-size: 1.4em;
      margin: 1em 0;
      font-weight: bold;
    }
    img {
      margin: 0.6em 10%;
      width: 80%;
      padding: 0.3em;
      background: $bg-light;
      border: 0.1em solid darken($bg-light, 18%);
      border-radius: 0.3em;
      &.top-img {
        width: 100%;
        margin-left: 0;
        margin-top: 0;
      }
    }
  }

  form {
    .form-group {
      margin-bottom: 1.5em;
    }
    label {
      margin-bottom: 0.5em;
      font-family: 'Novecento';
    }
  }

  btn-line.not-end {
    margin-right: 0.3em;
  }
}