.content {
  min-height: 100%;
}

footer {
  height: 4em;
  background: $bg-dark;
  font-size: 0.75em;
  p {
    font-family: 'Novecento';
    display: inline-block;
    color: darken($bg-light, 32%);
    margin-top: 1.5em;
    letter-spacing: 0.16em;
  }
  a.email {
    font-family: 'Droid';
    display: inline-block;
    color: darken($bg-light, 32%);
    &:hover {
      color: darken($bg-light, 18%);
    }
    margin-top: 1.5em;
    margin-left: 3em;
  }
  .fbm {
    float: right;
    margin-top: 0.7em;
  }
  img {
    height: 2.8em;
  }
}

#base {
  $header-height: 30em;

  header-bar {
    padding-top: 3em;
    position: absolute;
    width: 100%;
    left: 0;
    border-bottom: 0.16em solid $emphasis;
    min-height: 30em;
    height: $header-height;
    color: $bg-light;
    font-family: 'Novecento';
    .container {
      @include center-vert;
    }
    .single-title {
      text-align: center;
      h2 {
        color: $bg-light;
        font-size: 3em;
        letter-spacing: 0.1em;
      }
      h3 {
        font-family: 'Droid';
        font-size: 2em;
        font-style: italic;
        margin-top: 0.5em;
      }
    }
    .post-title {
      text-align: center;
      h2 {
        font-size: 3em;
        letter-spacing: 0.1em;
      }
      h3 {
        font-family: 'Droid';
        &.author {
          font-size: 2em;
          font-style: italic;
          margin-top: 0.5em;
        }
      }
      h4.date {
        font-family: 'Novecento';
        display: block;
        font-size: 1em;
        margin-top: 2em;
      }
    }
    btn-line {
      margin-top: 3em;
    }
    .user {
      $user-img: 3em;
      width: 100%;
      position: absolute;
      top: $header-height;
      margin-top: ($user-img / -2) - 0.08em;
      .user-image {
        @include center-horz;
        @include box-sizing(border-box);
        @include transform( rotate(45deg) );
        width: $user-img;
        height: $user-img;
        margin-left: ($user-img / -2);
        border: 0.16em solid $emphasis;
        overflow: hidden;
      }
      img {
        @include transform( rotate(-45deg) );
        width: $user-img * 1.42;
        height: $user-img * 1.42;
        margin: -0.21 * $user-img;
      }
    }
  }

  .content {
    margin-top: $header-height;
    padding-top: 3em;
    padding-bottom: 2em;
  }
  .title {
    font-family: 'Novecento';
    margin-bottom: 0.5em;
    font-size: 2em;
    color: darken($bg-light, 32%);
    line-height: 1.2em;
    border-bottom: 0.08rem solid darken($bg-light, 18%);
  }
  .title-content {
    padding: 0 0.5em;
  }
  .btns-wrap {
    width: 100%;
    .btns {
      @include center-horz;
      display: inline-block;
    }
  }

  form {
    .form-group {
      margin-bottom: 1.5em;
    }
    label {
      margin-bottom: 0.5em;
      font-family: 'Novecento';
    }
  }

  btn-line.not-end {
    margin-right: 0.3em;
  }
}