btn-line {
  cursor: pointer;
  color: $bg-light;
  font-family: 'Novecento';
  display: inline-block;
  @include transition( all 0.3s );
  .wrapper {
    padding: 0.7em 1.4em 0.8em;
    border: 0.15em solid $bg-light;
    border-radius: 0.2em;
  }
  .expander {
    @include transition( all 0.3s );
    background: $bg-light;
    position: absolute;
    opacity: 0;
    border-radius: 0.3em;
    z-index: -1;
  }
  a, a:hover {
    color: $bg-light;
    text-decoration: none;
  }
  &.reveal a {
    color: $bg-dark;
  }
  &.inverted {
    color: $bg-dark;
    .wrapper {
      border-color: $bg-dark;
    }
    .expander {
      background: $bg-dark;
    }
    a, a:hover {
      color: $bg-dark;
    }
    &.reveal a {
      color: $bg-light;
    }
  }
}

nav-btn {
  display: block;
  width: 1.5em;
  height: 1.5em;
  .nav-d-hover, .nav-d-normal {
    width: 1.5em;
    height: 1.5em;
    overflow: hidden;
    @include transition( all 0.2s ease-in-out );
    img {
      width: 1.5em;
      height: 1.5em;
      @include transition( all 0.2s ease-in-out );
    }
  }
  .nav-d-hover {
    position: absolute;
    margin-top: -1.5em;
    margin-left: 1.5em;
    img {
      position: relative;
      left: -1.5em;
    }
  }
  .nav-d-normal {
    position: relative;
  }
  .nav-d-hover.reveal {
    margin-left: 0;
    img {
      left: 0;
    }
  }
  .nav-d-normal.reveal {
    width: 0;
    left: 0em;
  }
}