btn-line {
  cursor: pointer;
  color: $bg-light;
  font-family: 'Novecento';
  display: inline-block;
  .wrapper {
    padding: 0.7em 1.4em 0.8em;
    border: 0.15em solid $bg-light;
    border-radius: 0.2em;
    @include transition ( all 0.2s $ease-in-out-quad );
  }
  a {
    color: $bg-light;
    @include transition ( all 0.1s $ease-in-out-quad );
  }
  &.inverted {
    color: $bg-dark;
    .wrapper {
      border-color: $bg-dark;
    }
    a {
      color: $bg-dark;
    }
  }
  &.reveal {
    .wrapper {
      background: $bg-light;
    }
    a {
      color: $bg-dark;
    }
    &.inverted {
      .wrapper {
        background: $bg-dark;
      }
      a {
        color: $bg-light;
      }
    }
  }
}

nav-btn {
  cursor: pointer;
  display: block;
  width: 1.5em;
  height: 1.5em;
  .nav-d-hover, .nav-d-normal {
    width: 1.5em;
    height: 1.5em;
    overflow: hidden;
    @include transition( all 0.2s ease-in-out );
    img {
      width: 1.5em;
      height: 1.5em;
      @include transition( all 0.2s ease-in-out );
    }
  }
  .nav-d-hover {
    position: absolute;
    margin-top: -1.5em;
    margin-left: 1.5em;
    img {
      position: relative;
      left: -1.5em;
    }
  }
  .nav-d-normal {
    position: relative;
  }
  .nav-d-hover.reveal {
    margin-left: 0;
    img {
      left: 0;
    }
  }
  .nav-d-normal.reveal {
    width: 0;
    left: 0;
  }
}