@font-face {
    font-family: 'Novecento';
    src: url('Novecento.eot');
    src: url('Novecento.eot?#iefix') format('embedded-opentype'),
         url('Novecento.woff') format('woff'),
         url('Novecento.ttf') format('truetype'),
         url('Novecento.svg#Novecento') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Charis';
    src: url('CharisSIL.eot');
    src: url('CharisSIL.eot?#iefix') format('embedded-opentype'),
         url('CharisSIL.woff') format('woff'),
         url('CharisSIL.ttf') format('truetype'),
         url('CharisSIL.svg#CharisSIL') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Charis';
    src: url('CharisSIL-Bold.eot');
    src: url('CharisSIL-Bold.eot?#iefix') format('embedded-opentype'),
         url('CharisSIL-Bold.woff') format('woff'),
         url('CharisSIL-Bold.ttf') format('truetype'),
         url('CharisSIL-Bold.svg#CharisSIL-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Charis';
    src: url('CharisSIL-Italic.eot');
    src: url('CharisSIL-Italic.eot?#iefix') format('embedded-opentype'),
         url('CharisSIL-Italic.woff') format('woff'),
         url('CharisSIL-Italic.ttf') format('truetype'),
         url('CharisSIL-Italic.svg#CharisSIL-Italic') format('svg');
    font-weight: normal;
    font-style: italic, oblique;
}

@font-face {
    font-family: 'Charis';
    src: url('CharisSIL-BoldItalic.eot');
    src: url('CharisSIL-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('CharisSIL-BoldItalic.woff') format('woff'),
         url('CharisSIL-BoldItalic.ttf') format('truetype'),
         url('CharisSIL-BoldItalic.svg#CharisSIL-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic, oblique;
}

body {
    font-size: 16px;
    font-family: 'Charis';
    color: $bg-dark;
}

h1 {
    font-family: 'Novecento';
}

a {
	color: #542437;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}