$bg-dark: #2b2b2b;
$bg-light: #ffffff;
$emphasis: #87D69B; //#AAE3AB

@mixin center-vert {
  position: relative;
  top: 50%;
  @include transform( translate(0, -50%) );
}

@mixin center-horz {
  position: relative;
  left: 50%;
  @include transform( translate(-50%, 0) );
}

@mixin user-image-size($size) {
	width: $size;
	height: $size;
	border: (0.06 * $size) solid $emphasis;
	border-radius: 0.06 * $size;
	img {
	  	width: $size * 1.42;
	  	height: $size * 1.42;
	  	margin: -0.21 * $size;
	}
}

@mixin nav-btn-size($size) {
	nav-btn {
	  	width: $size;
	  	height: $size;
	  	.nav-d-hover, .nav-d-normal {
	    	width: $size;
	    	height: $size;
	    	img {
	      		width: $size;
	      		height: $size;
	    	}
	  	}
	  	.nav-d-hover {
	    	margin-top: -$size;
	    	margin-left: $size;
	    	img {
		    	left: -$size;
	    	}
	  	}
		.nav-d-hover.reveal {
			margin-left: 0;
			img {
			  	left: 0;
			}
		}
		.nav-d-normal.reveal {
			width: 0;
			left: 0;
		}
	}
}