.user-content {
	padding-bottom: 2em;
}

.permissions, .check {
	display: block;
}
.form-group input.checkbox-inline {
	margin: 0.5em;
}

.creator-content {
	clear: both;
	margin: 1em 0 2em;
	.creator {
		margin: 3em 0 2em;
		user-image {
			display: inline-block;
			@include user-image-size(6em);
			@include transition( all 0.2s );
			border-color: darken($bg-light, 18%);
			&:hover {
				border-color: $emphasis;
			}
		}
		text-align: center;
		.user-info {
			margin-top: 1.5em;
		}
		h2 {
			font-size: 1.5em;
			font-family: 'Novecento';
		}
		h3 {
			margin-top: 0.5em;
			font-style: italic;
		}
	}
}

.creators-title {
	width: 100%;
	float: left;
	border-bottom: 0.08em solid darken($bg-light, 18%);
	margin-bottom: 1em;
	font-family: 'Novecento';
	color: darken($bg-light, 32%);
	a {
		display: inline-block;
		color: darken($bg-light, 32%);
		@include transition( all 0.2s );
		&:hover {
			color: $bg-dark;
		}
	}
	.creators-info {
		float: left;
		font-size: 2em;
		margin-top: -0.2em;
	}
	.creators-auth {
		float: right;
		a {
			padding: 0.5em;
		}
	}
}

.work-wrapper {
	text-align: center;
	work {
		width: 100%;
		height: 10em;
		display: block;
		overflow: hidden;
	}
	a {
		width: 100%;
		height: 10em;
		display: block;
	}
	.work-image {
		height: 10em;
		width: 100%;
		@include transition( all 0.7s $ease-out-back );
		@include transform( scale(1.01, 1.01) );
		&.hover {
			@include transform( scale(1.03, 1.03) );
		}
	}
	.work-overlay {
		width: 100%;
		height: 10em;
		position: relative;
		margin-top: -10em;
		background: rgba($bg-dark, 0.7);
		opacity: 0;
		@include transition( all 0.2s $ease-in-out-quad );
	}
	.work-titles {
		color: $bg-light;
		position: relative;
		margin-top: -10em;
		@include center-vert;
	}
	h2 {
    	font-family: 'Novecento';
    	font-size: 1.5em;
        letter-spacing: 0.1em;
    }
    h3 {
        font-family: 'Droid';
        font-size: 1em;
        font-style: italic;
        margin-top: 0.5em;
	}
}