.user-content {
	padding-bottom: 3em;
}

.permissions, .check {
	display: block;
}
.form-group input.checkbox-inline {
	margin: 0.5em;
}

.creator-content {
	.creator {
		margin: 3em 0 2em;
		user-image {
			display: inline-block;
			@include user-image-size(6em);
			@include transition( all 0.2s );
			border-color: darken($bg-light, 18%);
			&:hover {
				border-color: $emphasis;
			}
		}
		text-align: center;
		.user-info {
			margin-top: 1.5em;
		}
		h2 {
			font-size: 1.5em;
			font-family: 'Novecento';
		}
		h3 {
			margin-top: 0.5em;
			font-style: italic;
		}
	}
}

.user-title {
	margin-top: 2em;
}

.work-wrapper {
	$work-size: 12em;
	text-align: center;
	work {
		width: 100%;
		height: $work-size;
		display: block;
		overflow: hidden;
	}
	a {
		width: 100%;
		height: $work-size;
		display: block;
	}
	.work-image {
		height: $work-size;
		width: 100%;
		@include transition( all 0.7s $ease-out-back );
		@include transform( scale(1.01, 1.01) );
		&.hover {
			@include transform( scale(1.03, 1.03) );
		}
	}
	.work-overlay {
		width: 100%;
		height: $work-size;
		position: relative;
		margin-top: -1 * $work-size;
		background: rgba($bg-dark, 0.7);
		opacity: 0;
		@include transition( all 0.3s $ease-in-out-quad );
	}
	.work-titles {
		color: $bg-light;
		position: relative;
		margin-top: -1 * $work-size;
		@include center-vert;
		padding: 2em;
	}
	.work-type {
		margin-top: 0.5em;
		overflow: hidden;
		height: 0;
		@include transition( all 0.5s $ease-in-out-back, opacity 0.5s $ease-in-out-quad );
		opacity: 0;
		&.reveal {
			height: 2.5em;
			margin-top: 1em;
			opacity: 1;
		}
	}
	.work-reveal {
		display: inline-block;
	}
	h2 {
		font-family: 'Novecento';
		font-size: 1.6em;
		letter-spacing: 0.1em;
	}
	h4 {
		font-family: 'Droid';
		margin-top: 0.5em;
		font-size: 1em;
		font-style: italic;
	}
	@include nav-btn-size(2.5em);
}