#bg-wrapper {
	width: 100%;
	height: 100%;
	min-height: 560px;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -9001;
	#reel {
		position: absolute;
		@include transform(translate(-50%, -50%));
		left: 50%;
		top: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height:auto;
	}
	#overlay {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: url('simple_dashed.png') repeat center;
		opacity: 0.5;
	}
}

#home-nav {
	font-family: 'Novecento';
	color: $bg-light;
	margin-top: 2em;
	@media only screen and (min-width: $screen-sm-min) {
		margin-top: 3em;
	}

	#logo {
		height: 5em;
	}

	li {
		display: inline-block;
	}

	#nav-items {
		@media only screen and (max-width: $screen-sm-min) {
			background: $bg-dark;
			margin-top: 1em;
			padding: 0.8em 0 0.6em;
			border-top: 0.2em solid darken($bg-dark, 3%);
			border-bottom: 0.2em solid darken($bg-dark, 3%);
		}
	}

	#nav-mobile {
		padding-top: 2.3em;
	}

	#social {
		float: right;
		margin-top: 1.2em;
		margin-bottom: 0.5em;
		@media only screen and (max-width: $screen-sm-min) {
			display: inline-block;
			float: none;
			margin: 0;
			padding: 0.3em;
			@include center-horz;
		}
		img {
			width: 1.5em;
			height: 1.5em;
		}
		li {
			padding: 0 0 0 0.3em;
		}
	}

	#menu {
		float: right;
		clear: both;
		@media only screen and (max-width: $screen-sm-min) {
			display: block;
			float: none;
			margin: 0;
			@include center-horz;
		}

		letter-spacing: 0.2em;
		font-size: 14px;
		li {
			@media only screen and (max-width: $screen-sm-min) {
				padding: 0.5em;
				display: block;
				text-align: center;
			}

			padding: 0 0 0 1em;
		}
	}
}

#home-content {
	@include center-vert;
	@media only screen and (max-height: $screen-sm-min) {
		top: 60%;
	}

	#splash {
		width: 100%;
	}

	#cta {
		@include center-horz;
		margin-top: 4em;
	}
}