<!DOCTYPE html>
<html ng-app="postsApp">
<head>
  <title>Bulldog Productions</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="fragment" content="!" />
</head>
<body>

<div id="view" ng-view></div>

</body>
</html>
